[class^="icon"], [class*=" icon"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Simple-Line-Icons-Pro' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon.icon-cloud-error-2:before {
  content: "\eab9";
}
.icon.icon-arrow-1-left:before {
  content: "\e805";
}
.icon.icon-arrow-1-right:before {
  content: "\e806";
}
.icon.icon-arrow-2-down:before {
  content: "\e810";
}
.icon.icon-arrow-2-up:before {
  content: "\e817";
}
.icon.icon-s-arrow-1:before {
  content: "\e83b";
}
.icon.icon-call-hold:before {
  content: "\e842";
}
.icon.icon-call-in:before {
  content: "\e843";
}
.icon.icon-call:before {
  content: "\e847";
}
.icon.icon-chat-1:before {
  content: "\e848";
}
.icon.icon-email-forward:before {
  content: "\e85e";
}
.icon.icon-email-letter:before {
  content: "\e860";
}
.icon.icon-laptop-1:before {
  content: "\e8bc";
}
.icon.icon-router:before {
  content: "\e8cf";
}
.icon.icon-smartphone-tablet-desktop:before {
  content: "\e8e2";
}
.icon.icon-tv:before {
  content: "\e8ee";
}
.icon.icon-discount-star:before {
  content: "\e913";
}
.icon.icon-balance:before {
  content: "\e95b";
}
.icon.icon-hand-banknote:before {
  content: "\e989";
}
.icon.icon-support:before {
  content: "\e9a3";
}
.icon.icon-tie:before {
  content: "\e9ad";
}
.icon.icon-article:before {
  content: "\e9fb";
}
.icon.icon-airplay:before {
  content: "\eaaf";
}
.icon.icon-antena-1:before {
  content: "\eab0";
}
.icon.icon-cloud-error:before {
  content: "\eaba";
}
.icon.icon-cloud-hosting:before {
  content: "\eabc";
}
.icon.icon-internet-location:before {
  content: "\ead5";
}
.icon.icon-internet:before {
  content: "\eadb";
}
.icon.icon-network:before {
  content: "\eae0";
}
.icon.icon-server:before {
  content: "\eaee";
}
.icon.icon-close:before {
  content: "\eb0c";
}
.icon.icon-eye:before {
  content: "\eb27";
}
.icon.icon-flash-2:before {
  content: "\eb29";
}
.icon.icon-flash-4:before {
  content: "\eb2b";
}
.icon.icon-home:before {
  content: "\eb37";
}
.icon.icon-list-1:before {
  content: "\eb41";
}
.icon.icon-lock:before {
  content: "\eb45";
}
.icon.icon-paper-plane:before {
  content: "\eb5d";
}
.icon.icon-power:before {
  content: "\eb68";
}
.icon.icon-swap-vertical:before {
  content: "\eb7c";
}
.icon.icon-audiobook:before {
  content: "\ebdc";
}
.icon.icon-film-1:before {
  content: "\ebf4";
}
.icon.icon-film-reel:before {
  content: "\ebf6";
}
.icon.icon-HD:before {
  content: "\ebfd";
}
.icon.icon-soundwave:before {
  content: "\ec26";
}
.icon.icon-armchair:before {
  content: "\ec38";
}
.icon.icon-diamond-2:before {
  content: "\ec47";
}
.icon.icon-duck-toy:before {
  content: "\ec4b";
}
.icon.icon-gift:before {
  content: "\ec52";
}
.icon.icon-safety-pin:before {
  content: "\ec6c";
}
.icon.icon-wrench-screwdriver-2:before {
  content: "\ec83";
}
.icon.icon-facebook:before {
  content: "\ec9e";
}
.icon.icon-google-plus:before {
  content: "\eca8";
}
.icon.icon-instagram:before {
  content: "\ecae";
}
.icon.icon-twitter:before {
  content: "\ecc4";
}
.icon.icon-vk:before {
  content: "\ecc7";
}
.icon.icon-calendar-date:before {
  content: "\ecd7";
}
.icon.icon-fast-delivery:before {
  content: "\ece3";
}
.icon.icon-hourglass-reverse:before {
  content: "\ece8";
}
.icon.icon-day-night:before {
  content: "\ed7b";
}
.icon.icon-house-search:before {
  content: "\ed8f";
}
.icon.icon-hearts:before {
  content: "\ee14";
}
.icon.icon-like-2:before {
  content: "\ee15";
}
.icon.icon-star:before {
  content: "\ee21";
}
.icon.icon-firewall-done:before {
  content: "\ee37";
}

