.fade-enter  {
  opacity: 0.01;
}

.fade-appear  {
  opacity: 0.01;
}

.fade-appear.fade-appear-active{
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-enter.fade-enter-active{
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.list{
  margin-bottom: 80px;
}

