$dark-slate-blue: #2b1d5d;
$dark-slate-blue_2: #2c1d5d;
$coral-pink: #ff586c;
$purplish-blue: #5812fe;
$pale-grey: #f5f7fa;
$cloudy-blue: #c0bbd2;
$slime-green: #96d206;
$charcoal-grey: #35333c;
$white : white;
$header-colour : #20124a;
$body : #f5f7fa;
